*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}
.container{
    min-height: 90vh;
}

.bg_image{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.scene_question{
    background-color: rgba(46, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.choice{
    background-color: rgba(46, 46, 46, 0.7);
    color:white;
}
.choice:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(46, 46, 46);
}


h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Smooch Sans', sans-serif;
}

h2{
    font-size: 1.75rem;
    color: rgb(213, 211, 211);
}

.inventory{
    background-color: rgb(46, 46, 46, 0.7);
}

.item_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_question{
    text-align: center;
    min-width: 40vw;
    color: wheat;
    background-color: rgba(46, 46, 46, 0.7);
}

.item_button{
    min-width: 5vw;
    background-color: rgba(46, 46, 46, 0.7);
}

.use_button{
    min-width: 5vw;
    background-color: rgba(46, 46, 46, 0.7);
}
.yes{
    color: rgb(187, 245, 222);
}
.yes:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(46, 46, 46);
}

.no{
    color: rgb(247, 141, 141);
}
.no:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(46, 46, 46);
}

.item{
    max-height: 70px;
}

.use{
    max-height: 70px;
}

.shop-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Translucent white */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
  }

  .shop-button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Lighter translucent white on hover */
  }

  #message-box {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgba(255, 255, 255, 0.5);;
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#message-text {
    font-size: 18px;
    color: #050505;
    margin: 0;
}
.return {
    max-width: 125px;
    background-color: rgba(46, 46, 46, 0.7);
}
.return a{
    text-decoration: none;
    color: white;
}
.return:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(46, 46, 46);
}

.item.unlocked {
    /* Add your glowing effect styles here */
    border: 2.5px solid #ffcc00;
    border-radius: 20%; /* Example border */
    box-shadow: 0 0 10px #ffcc00; /* Example box shadow */
    animation: glowing 1.5s infinite alternate; /* Example animation */
  }
  
  @keyframes glowing {
    from {
      border-color: #ffcc00; /* Example start color */
      box-shadow: 0 0 10px #ffcc00; /* Example start shadow */
    }
    to {
      border-color: #ff9933; /* Example end color */
      box-shadow: 0 0 20px #ff9933; /* Example end shadow */
    }
  }
  